include ../blocks/var.pug
include ../blocks/mixins.pug
block vars
doctype html
html(lang=lang)
        head
            +head(title, description, keywords)
        body
            main.b-main

                include ../blocks/header.pug

                block content


