@import "vars"

::placeholder
	color: #8b8b8b

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%
	-webkit-overflow-scrolling: touch
*
	margin: 0
	padding: 0 
	outline: none
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green
a
	color: #353535
	&:hover
		color: #353535
